@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

// common variables
$bg-color: #fcfcfc;
$text-black: black;
$white: #fff;
$light-grey: #999;
$text-size-small: 14px;
$course-heading: 24px;
$font-weight-600: 600;
$weight-700: 700;
$font-family: 'Open Sans', sans-serif;
$clr-orange: #fd5f00;
$border: 1px solid #e0e0e0;
$border-orange: 2px solid #fd5f00;
$spc-1em: 1em;
$spc-2em: 2em;

// progress bar
$borderWidth: 2px;
$animationTime: 1.5s;
$border-color-default: #eee;
$border-color-fill: #00a3fd;
$size: 42px;
$howManySteps: 10; 